@import 'src/global/utils/init';

.mainNav {
max-width: 1600px;
margin: 0 auto;
}

.introTextContainer {
    color: $color-white;
}
.introTextContainerInner {
   display: flex;
   flex-direction: column; 

   P {
       padding-bottom: 1.5rem;
   }

   a {
       margin-bottom: 8rem;
   }
}