@import 'src/global/utils/init';

.mainNav {
max-width: 1600px;
display: flex;
justify-content: space-between;
margin-top: -1rem;
padding: 0 1rem;
max-width: $bp-lg;
margin-inline:  auto;
transform: translateY(1rem);
z-index: 10000000000000;


background: transparent;
padding: 1rem;
svg {
    path {
        fill: $color-white;
      }
}
img {
    transform: rotateY(180deg);
}
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 10000000000000;

}



@include breakpoint($bp-sm-dwn) {
    .mainNav {
        max-width: 90%;
        padding: unset;
       margin-top: -3rem;
       padding-bottom: 3rem;
    
    }
  }
  