@import 'src/global/utils/init';

.mainNav {
max-width: 1600px;
display: flex;
justify-content: space-between;
margin-top: -1rem;
padding: 0 1rem;
max-width: $bp-lg;
margin-inline:  auto;
transform: translateY(1rem);


background: transparent;
padding: 1rem;
svg {
    path {
        fill: $color-white;
      }
}
img {
    transform: rotateY(180deg);
}
}

.sticky {
    position: sticky;
    top: 0;
}



@include breakpoint($bp-sm-dwn) {
    .mainNav {
        max-width: 90%;
    
    }
  }
  