@import 'src/global/utils/init'; 

.hamburgerMenuButton {
    button:hover, img:hover {
  
            cursor: pointer;
        
    }
}

:global(.bm-overlay) {
left: 0;
top: -2rem;
height: 100vh !important;
width: 100vw !important;
margin-left: calc(50% - 50vw);
box-shadow: 5px 10px $color-nes-dark-purple;
background-color: $color-nes-dark-purple !important;
margin-top: 1rem;
z-index: -1 !important;

}
.navContainer {
    left: 0;
    display: flex;
    justify-content: center;
    width: 100% !important;
    height: 100vh !important;
  
padding-top: 1rem;

    nav {
        display: flex;
        flex-direction: column;
        gap: 8rem;
        justify-content: center;
        font-size: 4rem;

        a {
            color: $color-white;
            text-decoration: none;
            font-weight: bold;
        }
    }
}



@include breakpoint($bp-sm-dwn) {
    .navContainer {
  
        nav {
            gap: 4rem;
            font-size: 2.5rem;
        }
    }
  }
  